<body>
    <div class="container">
        <h1>Railway Reservation System</h1>

        <form action="/book" method="post">
            <input type="text" name="name" placeholder="Enter Passenger Name" required>

            <select name="train">
                <option>Express Train</option>
                <option>Superfast Train</option>
                <option>Intercity Train</option>
            </select>

            <button type="submit">Book Ticket</button>
        </form>
    </div>
</body>